/* Common styles for both desktop and mobile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    /* Adjustments for the hero section */
    #heading h1 {
        font-size: 20vw;
        margin-left: 20px;
    }
    #heading #second-h1 {
        margin-left: 20px;
    }

    /* Adjustments for the footer */
    #herofooter {
        padding: 0 1vw;
    }

    /* Adjustments for the second section */
    #second {
        padding-top: 100px;
        padding-right: 5vw;
    }

    .elem h1 {
        font-size: 14vw;
    }

    /* Adjustments for the about section */
    #about {
        padding: 10vw 3vw;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5vw;
    }

    #about img {
        width: 150px;
        margin-bottom: 20px;
    }

    #textabout {
        width: 100%;
    }

    /* Adjustments for the subscribe section */
    #subscribe {
        padding: 10px 20px;
        padding-bottom: 3vw;
    }

    #subscribe h5 {
        margin-top: 20px;
    }

    #subscribe h3 {
        font-size: 12px;
    }

    /* Adjustments for the footer section */
    #footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
}
